#title Club Teams

= render :partial => "nav", :object => @general_pages

%div#club-teams
  - @list.each do |club_team|
    %div#club-team-box
      %div{ :class => cycle(:one, :two, :three, :four) }= link_to confine_to_background(club_team.name), "/club_teams/#{club_team.slug}"
