#title Club Teams

= render :partial => "nav", :object => @general_pages

#club-team.content

  #club-teams
    - @list.each do |club_team|
      #club-team-box
        %div{ :class => cycle(:one, :two) }= link_to confine_to_background(club_team.name), "/club_teams/#{club_team.slug}"
