#title
  Admin

= link_to 'Edit Categories', items_path(:type => "cat")
%br
= link_to 'Edit Pages', items_path(:type => "page")
%br
= link_to 'Edit Cateogry Order', '#'
%br
= link_to 'Edit Page Order', '#'
