@import "staff";
@import "camps";
@import "club_teams";
@import "store";
@import "sorting";
@import "flash_messages";
@import "video";
@import "welcome";
@import "tournament-pages";
@import url(http://fonts.googleapis.com/css?family=Terminal+Dosis:400,300,200,500,600,700,800);

html {
  height: 100%;
}

body {
  background-image:url(../images/wallpaper.jpg);
  background-repeat:no-repeat;
  background-position: center top;
  background-color: #16202c;
  font-family: 'Terminal Dosis', sans-serif;
  height: 100%;
}

a {
  text-decoration: none;
  color: #97BFDE;
}

p {
  margin-bottom: 5px;
}

#container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

#header {
  width: 100%;
  margin-bottom: 50px;
}

#logo {
  font-size: 50px;
  color: #97BFDE;
  font-weight: bold;
}

img.main_logo {
  width: 300px;
  height: 129px;
}

span.tagline {
  font-style: italic;
  color: #97BFDE;
}

#title {
  color: white;
  background-color: #97BFDE;
  padding: 5px 0 5px 5px;
  font-weight: bold;
  text-shadow: #000000 2px 2px 5px;
  font-size: 24px;
  margin: 0 0 20px 0;
  -moz-box-shadow: 5px 5px 10px #C0C0C0;
  -webkit-box-shadow: 5px 5px 10px #C0C0C0;
}

#nav {
  margin-left: auto;
  margin-right: auto;

  ul.topnav {
    list-style: none;
    padding: 0 20px;
    margin: 0 auto;
    float: right;
    width: 920px;
    background: #222;
    background: url(../images/topnav_bg.gif) repeat-x;

     li {
      float: left;
      margin: 0;
      padding: 0 15px 0 0;
      position: relative; /*--Declare X and Y axis base for sub navigation--*/
      
      a {
        padding: 10px 5px;
        color: #fff;
        display: block;
        text-decoration: none;
        float: left;
      }

      a:hover {
        background: url(../images/topnav_hover.gif) no-repeat center top;
      }

      span { /*--Drop down trigger styles--*/
        width: 17px;
        height: 35px;
        float: left;
        background: url(../images/subnav_btn.gif) no-repeat center top;
        padding: 10px 5px;
        color: #fff;
        text-decoration: none;
      }

      span.subhover {
        background-position: center bottom;
        cursor: pointer;
      } /*--Hover effect for trigger--*/

      ul.subnav {
        z-index: 1;
        list-style: none;
        position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
        left: 0; top: 35px;
        background: #333;
        margin: 0; padding: 0;
        display: none;
        float: left;
        width: 170px;
        border: 1px sod #111;

        li {
          margin: 0; padding: 0;
          border-top: 1px sod #252525; /*--Create bevel effect--*/
          border-bottom: 1px sod #444; /*--Create bevel effect--*/
          clear: both;
          width: 170px;
        }
      }
    }
  }
}

html ul.topnav li ul.subnav li {
  a {
    float: left;
    width: 145px;
    background: #333 url(../images/dropdown_linkbg.gif) no-repeat 10px center;
    padding-left: 20px;
  }

  a:hover { /*--Hover effect for subnav links--*/
    background: #222 url(../images/dropdown_linkbg.gif) no-repeat 10px center;
  }
}

#content {
  font-size: 14px;
  font-weight: none;
  background-color: white;
  padding: 10px;
  height: 100%;
  -moz-box-shadow: 5px 5px 10px #000000;
  -webkit-box-shadow: 5px 5px 10px #000000;
}

div#actions {
  float: right;
}

div.field {
  margin: 5px;
}

#new_camp_registration {
  margin: 15px 0 0 0;
  float: left;
  background-color: #C0C0C0;
  padding: 5px;
}

#admin_links {
  padding: 10px 0 0 0;
  clear:both;
}

#social-network-links {
  position: absolute;
  background-color:#2A2B1C;
  margin-left:auto;
  margin-right:auto;
  padding:10px;
  top:20px;
  right:0;
  -moz-box-shadow: 5px 5px 10px #000000;
  -webkit-box-shadow: 5px 5px 10px #000000;
  -moz-border-radius: 10px;
  border-radius: 10px;
  opacity: 0.8;
  filter: alpha(opacity=80);
  color: white;
  font-size: 12px;
}

#social-network-links span {
  margin-right: 5px;
}

.subtext {
  font-size: 12px;
  clear: left;
  margin-bottom: 5px;
}
