/*----------------- Club Teams -------------------*/

#club-team {

    &.sidebar {
      background-color: #666666;
      -moz-border-radius: 15px;
      border-radius: 15px;
      width: 30%;
      font-weight: bold;
      font-size: 16px;
      float: left;
      padding: 5px;
      margin: 0 10px 10px 0;
      text-align: center;
      list-style-type: none;
      list-style-position: outside;

    ul {
      list-style-type: none;
      list-style-position: outside;
    }

     a {
      color: white; 

      &:hover {
        color: #C0C0C0;
      }
    }
  }

  &.content {
    float: right;
    width: 66%;
  }
}

table#club-teams {
  width: 100%;
}

tr#club-name-box {
  margin: 5px 0;
}

tr#club-name-box td {
  width: 400px;
  height: 100px;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

tr#club-name-box td a {
  color: white;
}

tr#club-name-box td.one, tr#club-name-box td.three {
  background: url('../images/club-team-box-bg1.png');
  background-repeat: no-repeat;
  background-position: center center;
}

tr#club-name-box td.two, tr#club-name-box td.four {
  background: url('../images/club-team-box-bg2.png');
  background-repeat: no-repeat;
  background-position: center center;
}
