/*------------------ Flash Messages ----------------*/

span.notice {
  background-color: #00FF66;
  color: #006600;
  border: 1px solid #006600;
  padding: 5px;
  width: 100%;
}

span.alert {
  background-color: #FF0000;
  color: #990000;
  border: 1px solid #990000;
  padding: 5px;
}

span.message {
  background-color: #FF0000;
  color: #990000;
  border: 1px solid #990000;
  padding: px;
  margin: 5px 0 5px 0;
}

div#error_explanation {
  background-color: #FF0000;
  color: #990000;
  border: 1px solid #990000;
  padding: 5px;
  margin: 5px 0 5px 0;
  width: 90%;
}

div#flash {
  margin: 10px 0 10px 0;
  width: 90%;
}
