/*----------------- Store -------------------*/

#store-products {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#product-box {
  width: 300px;
  padding: 5px;
  margin: 10px;
  background-color: #C0C0C0;
  text-align: center;
}

