#tournament-page {

    &.sidebar {
      background-color: #666666;
      -moz-border-radius: 15px;
      border-radius: 15px;
      width: 30%;
      font-weight: bold;
      font-size: 16px;
      float: left;
      padding: 5px;
      margin: 0 10px 10px 0;
      text-align: center;
      list-style-type: none;
      list-style-position: outside;

    ul {
      list-style-type: none;
      list-style-position: outside;
    }

     a {
      color: white; 

      &:hover {
        color: #C0C0C0;
      }
    }
  }

  &.content {
    float: right;
    width: 66%;
  }
}
