/*------------------------ Welcome Page ----------------------------*/

#panel {
  width: 30%;
  float: right;
  margin: 0 5px;
  height: 200px;
  border: 5px solid white;
  z-index: 0;
}

#panel.small-bottom {
  background-repeat: no-repeat; 
  clear: right;
  margin-top: 10px;
  background-size: 100%;
}

#panel.small-top {
  background-repeat: no-repeat; 
  background-size: 100%;
}

#panel.large {
  width: 65%;
  height: 420px;
  float: left;
  background-repeat: no-repeat; 
}

#panel:hover {
  cursor: pointer;
}

#panel:hover > #panel-text {
  background-color: #C0C0C0;
}

#panel-text {
  width: 100%;
  background-color: #97BFDE;
  color: #FFFFFF;
  text-align: center;
  padding: 10px 0 10px 0;
  opacity: 0.9;
  filter: alpha(opacity=90);
  font-size: 24px;
  text-shadow: #000000 2px 2px 5px;
}

#sponsors {
  width: 100%;
}

#mwl-sponsor {
  float: left;
  position: relative;
}

#ltn-sponsor {
  float: left;
  position: relative;
  margin: 40px 0 0 110px;
}

#stx-sponsor {
  float: right;
  position: relative;
  margin: 40px 0 0 0;
}
