body {
background-image:url("../images/wallpaper.jpg");
background-repeat:no-repeat;
background-position: top center;
}

a {
text-decoration: none;
color: white;
}

#container{
margin-left: auto;
margin-right: auto;
}
#header {
width: 90%;
}
span.logo {
font-size: 50px;
color: #97BFDE;
font-weight: bold;
}
span.tagline {
font-style: italic;
color: white;
}
#nav{
float: right;
}
ul.nav_links{
}

ul.nav_links li {
display: inline;
float:left;
margin-right: 10px;
}

ul.second_level{}

#content{}

#panel {
width: 22%;
float: left;
margin: 0 5px 0 5px;
height: 500px;
border: 5px solid white;
}

#panel-text {
width: 100%;
background-color: #97BFDE;
color: #FFFFFF;
text-align: center;
padding: 10px 0 10px 0;
}
