/*----------------- Club Teams -------------------*/
#club-team.sidebar {
  background-color: #666666;
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 30%;
  font-weight: bold;
  font-size: 16px;
  float: left;
  padding: 5px;
  margin: 0 10px 10px 0;
  text-align: center;
  list-style-type: none;
  list-style-position: outside; }
  #club-team.sidebar ul {
    list-style-type: none;
    list-style-position: outside; }
  #club-team.sidebar a {
    color: white; }
    #club-team.sidebar a:hover {
      color: #C0C0C0; }
#club-team.content {
  float: right;
  width: 66%; }

div#club-teams {
  float: right; }
  div#club-teams div#club-name-box {
    margin: 5px 0; }
    div#club-teams div#club-name-box div {
      width: 400px;
      height: 100px;
      padding: 10px;
      font-size: 30px;
      text-align: center;
      margin: 10px; }
      div#club-teams div#club-name-box div .one, div#club-teams div#club-name-box div .three {
        background: url("../images/club-team-box-bg1.png");
        background-repeat: no-repeat;
        background-position: center center; }
      div#club-teams div#club-name-box div .two, div#club-teams div#club-name-box div .four {
        background: url("../images/club-team-box-bg2.png");
        background-repeat: no-repeat;
        background-position: center center; }
      div#club-teams div#club-name-box div a {
        color: white; }
