#logo {
  width: 300px;
  height: 129px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/logo.png');
}

img.main_logo {
  display: none;
}

#panel.camps-clinics {
  width: 640px;
  height: 425px;
  float: left;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/winter-camps.png');
  background-repeat: no-repeat; 
  background-position: 0 top;
  z-index: 2;
}

#panel.club-teams {
  background-image: url('../images/panel2.jpg'); 
  background-repeat: no-repeat; 
  background-position: top top;
  background-size: 100%;
}

#panel.turkey-shootout-champs {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/turkey-shootout-small.png');
  display: inline-block;
  background-repeat: no-repeat; 
  background-position: 39% 45%;
  clear: right;
  background-size: 100%;
}

#video_info {
  clear:both;
}
