#title Staff Members

- @staff_members.each do |member|
  #staff-member.clear
    #profile-picture
      = link_to (image_tag member.profile_picture.url(:medium)), member.profile_picture.url(:medium), :rel => "vidbox"
    #member-content
      #staff-member-name= member.name
      %br/
      %ul.staff-stats
        - member.stats.each do |stat|
          %li= stat.stat
          %br/
      = raw member.bio
%br/
