#overlay
  #window
    #tab
      = link_to "X close", "#"
      / Begin VideoJS
      .video-js-box
        / Using the Video for Everybody Embed Code http://camendesign.com/code/video_for_everybody
        %video.video-js{:controls => "", :height => "264", :poster => "http://video-js.zencoder.com/oceans-clip.png", :preload => "preload", :width => "640", :style => "bottom: 0;", :autoplay => "autoplay"}
          %source{:src => "http://video-js.zencoder.com/oceans-clip.mp4", :type => "video/mp4; codecs=\"avc1.42E01E, mp4a.40.2\""}
            %source{:src => "http://video-js.zencoder.com/oceans-clip.webm", :type => "video/webm; codecs=\"vp8, vorbis\""}
              %source{:src => "http://video-js.zencoder.com/oceans-clip.ogg", :type => "video/ogg; codecs=\"theora, vorbis\""}
                / Flash Fallback. Use any flash video player here. Make sure to keep the vjs-flash-fallback class.
                %object.vjs-flash-fallback{:data => "http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf", :height => "264", :type => "application/x-shockwave-flash", :width => "640"}
                  %param{:name => "movie", :value => "http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf"}/
                  %param{:name => "allowfullscreen", :value => "true"}/
                  %param{:name => "flashvars", :value => "config={\"clip\":{\"url\":\"http://video-js.zencoder.com/oceans-clip.mp4\",\"autoPlay\":false,\"autoBuffering\":true}}"}/
                  / Image Fallback
                  %img{:alt => "Poster Image", :height => "264", :src => "http://video-js.zencoder.com/oceans-clip.png", :title => "No video playback capabilities.", :width => "640"}/
      / End VideoJS
