#overlay
#window
  #tab
    = link_to "X close", "#"
    .youtube-box
      %object{:height => "385", :width => "640"}
        %param{:name => "movie", :value => ""}
        %param{:name => "allowFullScreen", :value => "true"}
        %param{:name => "allowscriptaccess", :value => "always"}
        %embed{:allowfullscreen => "true", :allowscriptaccess => "always", :height => "385", :src => "", :type => "application/x-shockwave-flash", :width => "640"}
  .clear
