#overlay
  #window
    #tab
      = link_to "X close", "#"
    %video{:id => "video", :controls => "controls", :autoplay => "autoplay", :width => "640", :height => "385", :src => source, :preload => "preload"}
      Sorry, your browser does not support this video.
