#title
  = @item.title

= raw(@item.body)

- if @item.include_camp_registration_form?
  = render :partial => "camp_registrations/form", :objects => @camp_registration 

= render :partial => "admin/admin_links"
