#title
  = @item.title

= raw(@item.body)

- if @item.include_tournament_entry_form?
  #new_camp_registration{:style => "width: 50%;"}
    #title Register Now!
    = render :partial => "tournament_entries/form", :objects => @tournament_entry

= render :partial => "admin/admin_links"
