#title
  = @item.title

= raw(@item.body)

- if @item.camp_registration_form?
  - @camp_registration = CampRegistration.new
  = render :partial => "camp_registrations/form", :objects => @camp_registration 

= render :partial => "admin/admin_links"
