- videos = youtube.featured_videos

- videos.in_groups_of(3) do |group|
  - group.each do |video|
    - details = youtube.video_details(video.first.id)
    = "detailed description: #{details.description}"
    = "thumbnail url: #{details.thumbnail_url}"
