#title<
  Videos

#video_link
  Catch these videos on our YouTube channel at: 
  = link_to "http://www.youtube.com/resolutelacrosse", "http://www.youtube.com/resolutelacrosse", :target => "_blank"

- videos = $youtube.videos_by(:author => "resolutelacrosse")

- videos.videos.each do |video|
  #video{:class => cycle("even","odd")}
    %img{:id => "thumbnail", :src => video.thumbnails.first.url, :video_url => video.embed_url }
    #video_info
      =link_to video.title, video.embed_url, :id => "video_title", :video_url => video.embed_url
      %span{:id => "video_description"}= video.description 

%div.clear
