#panel.camps-clinics
#panel.club-teams
  #panel-text<
    Club Teams
#panel.turkey-shootout-champs
  #panel-text<
    Turkey Shootout Champs
#sponsors
  = link_to (image_tag "midwestlacrosse.png"), "http://www.midwestlacrosse.com", :target => "_blank", :id => "mwl-sponsor"
  = link_to (image_tag "ltn.png"), "http://www.lacrossethenations.org", :target => "_blank", :id => "ltn-sponsor"
  = link_to (image_tag "stx.png"), "http://www.stx.com", :target => "_blank", :id => "stx-sponsor"
