#panel{:style => "background-image: url('../images/panel1.jpg'); background-repeat: no-repeat; background-position: center top;", :class => "#{cookies[:popup] == "false" ? 'no_popup' : ''}"}
  #panel-text<
    Staff
#panel{:style => "background-image: url('../images/panel2.jpg'); background-repeat: no-repeat; background-position: center center;"}
  #panel-text<
    Camps & Clinics
#panel{:style => "background-image: url('../images/panel3.jpg'); background-repeat: no-repeat; background-position: center top;"}
  #panel-text<
    Elite Teams

#contest
#contest-text
  = link_to "Click here to win a Proton Power with Katana handle!", new_contest_entry_path
