#panel{:style => "background-image: url('../images/panel1.jpg'); background-repeat: no-repeat; background-position: center top;", :class => "#{cookies[:popup] == "false" ? 'no_popup' : ''}"}
  #panel-text<
    Staff
#panel{:style => "background-image: url('../images/panel2.jpg'); background-repeat: no-repeat; background-position: center center;"}
  #panel-text<
    Camps
#panel{:style => "background-image: url('../images/panel3.jpg'); background-repeat: no-repeat; background-position: center top;"}
  #panel-text<
    Elite Teams
#panel{:style => "background-image: url('../images/panel1.jpg'); background-repeat: no-repeat; background-position: center center;"}
  #panel-text<
    Contact Us

#contest
#contest-text
  = link_to "Click to win a lacrosse stick!", new_contest_path, :target => '_blank'
