#panel{:style => "background-image: url('../images/helmet.jpg'); background-repeat: no-repeat; background-position: center top;", :class => "#{params[:no_popup] == "1" ? 'no_popup' : ''}"}
  #panel-text<
    Staff
#panel{:style => "background-image: url('../images/stick.jpg'); background-repeat: no-repeat; background-position: center center;"}
  #panel-text<
    Camps
#panel{:style => "background-image: url('../images/shot.jpg'); background-repeat: no-repeat; background-position: center top;"}
  #panel-text<
    Consulting
#panel{:style => "background-image: url('../images/field.jpg'); background-repeat: no-repeat; background-position: center center;"}
  #panel-text<
    Contact Us
