#panel{:style => "background-image: url('../images/helmet.jpg'); background-repeat: no-repeat; background-position: center top;", :class => "#{cookies[:popup] == "false" ? 'no_popup' : ''}"}
  #panel-text<
    Staff
#panel{:style => "background-image: url('../images/stick.jpg'); background-repeat: no-repeat; background-position: center center;"}
  #panel-text<
    Camps
#panel{:style => "background-image: url('../images/shot.jpg'); background-repeat: no-repeat; background-position: center top;"}
  #panel-text<
    Consulting
#panel{:style => "background-image: url('../images/field.jpg'); background-repeat: no-repeat; background-position: center center;"}
  #panel-text<
    Contact Us

#contest{:style => 'display: none;'}
  = link_to 'Win a lacrosse stick!', new_contest_path, :target => '_blank'
