#panel.lacrosse-the-nations
#panel.staff{:class => "#{cookies[:popup] == "false" ? 'no_popup' : ''}"}
  #panel-text<
    Staff
#panel.camps-clinics
  #panel-text<
    Camps & Clinics

#contest
#contest-text
  = link_to "Click here to win a Proton Power with Katana handle!", new_contest_entry_path
