#title
  Enter to win a Proton Power with Katana handle!
%br
  (Only one entry per person)
%br
- if flash.any?
  #flash
    - flash.each do |key, message|
      %span{ :class => key }= message

= render 'form'
